<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
	<menu id="Accessories" label="Accessories">
		<item label="Bitwarden" icon="bitwarden">
			<action name="Execute"><command>bitwarden-desktop</command></action>
		</item>
		<item label="Bulk Rename" icon="org.xfce.thunar">
			<action name="Execute"><command>thunar --bulk-rename</command></action>
		</item>
		<item label="Character Map" icon="accessories-character-map">
			<action name="Execute"><command>gucharmap</command></action>
		</item>
		<item label="DB Browser for SQLite" icon="sqlitebrowser">
			<action name="Execute"><command>sqlitebrowser</command></action>
		</item>
		<item label="FeatherPad" icon="featherpad">
			<action name="Execute"><command>featherpad</command></action>
		</item>
		<item label="Galculator" icon="galculator">
			<action name="Execute"><command>galculator</command></action>
		</item>
		<item label="Gammastep Indicator" icon="gammastep">
			<action name="Execute"><command>gammastep-indicator</command></action>
		</item>
		<item label="Kvantum Manager" icon="kvantum">
			<action name="Execute"><command>kvantummanager</command></action>
		</item>
		<item label="LibreOffice" icon="libreoffice-startcenter">
			<action name="Execute"><command>libreoffice</command></action>
		</item>
		<item label="Main Menu" icon="alacarte">
			<action name="Execute"><command>alacarte</command></action>
		</item>
		<item label="OpenRGB" icon="OpenRGB">
			<action name="Execute"><command>openrgb</command></action>
		</item>
		<item label="picom" icon="picom">
			<action name="Execute"><command>picom</command></action>
		</item>
		<item label="Plank" icon="plank">
			<action name="Execute"><command>plank</command></action>
		</item>
		<item label="Protontricks" icon="wine">
			<action name="Execute"><command>protontricks --no-term --gui</command></action>
		</item>
		<item label="QtFM" icon="qtfm">
			<action name="Execute"><command>qtfm</command></action>
		</item>
		<item label="Redshift" icon="redshift">
			<action name="Execute"><command>redshift-gtk</command></action>
		</item>
		<item label="Software Token" icon="stoken-gui">
			<action name="Execute"><command>stoken-gui</command></action>
		</item>
		<item label="Software Token (small)" icon="stoken-gui">
			<action name="Execute"><command>stoken-gui --small</command></action>
		</item>
		<item label="Vim" icon="gvim">
			<action name="Execute"><command>vim</command></action>
		</item>
		<item label="VSCodium" icon="vscodium">
			<action name="Execute"><command>/usr/bin/codium --unity-launch</command></action>
		</item>
		<item label="VSCodium - Wayland" icon="vscodium">
			<action name="Execute"><command>/usr/bin/codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --unity-launch</command></action>
		</item>
		<item label="Winetricks" icon="winetricks">
			<action name="Execute"><command>winetricks --gui</command></action>
		</item>
		<item label="Xarchiver" icon="xarchiver">
			<action name="Execute"><command>xarchiver</command></action>
		</item>
	</menu> <!-- Accessories -->
	<menu id="Development" label="Development">
		<item label="CMake" icon="CMakeSetup">
			<action name="Execute"><command>cmake-gui</command></action>
		</item>
		<item label="DB Browser for SQLite" icon="sqlitebrowser">
			<action name="Execute"><command>sqlitebrowser</command></action>
		</item>
		<item label="Electron 25" icon="electron25">
			<action name="Execute"><command>electron25</command></action>
		</item>
		<item label="Qt Assistant" icon="assistant">
			<action name="Execute"><command>assistant</command></action>
		</item>
		<item label="Qt Designer" icon="QtProject-designer">
			<action name="Execute"><command>designer</command></action>
		</item>
		<item label="Qt Linguist" icon="linguist">
			<action name="Execute"><command>linguist</command></action>
		</item>
		<item label="Qt QDBusViewer" icon="qdbusviewer">
			<action name="Execute"><command>qdbusviewer</command></action>
		</item>
		<item label="VSCodium" icon="vscodium">
			<action name="Execute"><command>/usr/bin/codium --unity-launch</command></action>
		</item>
		<item label="VSCodium - Wayland" icon="vscodium">
			<action name="Execute"><command>/usr/bin/codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --unity-launch</command></action>
		</item>
	</menu> <!-- Development -->
	<menu id="Education" label="Education">
		<item label="LibreOffice Math" icon="libreoffice-math">
			<action name="Execute"><command>libreoffice --math</command></action>
		</item>
	</menu> <!-- Education -->
	<menu id="Games" label="Games">
		<item label="Chiaki" icon="chiaki">
			<action name="Execute"><command>chiaki</command></action>
		</item>
		<item label="Heroic Games Launcher" icon="heroic">
			<action name="Execute"><command>/opt/Heroic/heroic</command></action>
		</item>
		<item label="Lutris" icon="lutris">
			<action name="Execute"><command>lutris</command></action>
		</item>
		<item label="Steam (Runtime)" icon="steam">
			<action name="Execute"><command>/usr/bin/steam-runtime</command></action>
		</item>
		<item label="Xonotic (GLX)" icon="xonotic">
			<action name="Execute"><command>/usr/bin/xonotic-glx</command></action>
		</item>
		<item label="Xonotic (SDL)" icon="xonotic">
			<action name="Execute"><command>/usr/bin/xonotic-sdl</command></action>
		</item>
	</menu> <!-- Games -->
	<menu id="Graphics" label="Graphics">
		<item label="Document Viewer" icon="org.gnome.Evince">
			<action name="Execute"><command>evince</command></action>
		</item>
		<item label="Drawing" icon="com.github.maoschanz.drawing">
			<action name="Execute"><command>drawing</command></action>
		</item>
		<item label="Flameshot" icon="org.flameshot.Flameshot">
			<action name="Execute"><command>/usr/bin/flameshot</command></action>
		</item>
		<item label="GNU Image Manipulation Program" icon="gimp">
			<action name="Execute"><command>gimp-2.10</command></action>
		</item>
		<item label="Inkscape" icon="org.inkscape.Inkscape">
			<action name="Execute"><command>inkscape</command></action>
		</item>
		<item label="Lector" icon="Lector">
			<action name="Execute"><command>lector</command></action>
		</item>
		<item label="LibreOffice Draw" icon="libreoffice-draw">
			<action name="Execute"><command>libreoffice --draw</command></action>
		</item>
	</menu> <!-- Graphics -->
	<menu id="Internet" label="Internet">
		<item label="Advanced Network Configuration" icon="preferences-system-network">
			<action name="Execute"><command>nm-connection-editor</command></action>
		</item>
		<item label="ArmCord" icon="armcord">
			<action name="Execute"><command>/usr/bin/armcord</command></action>
		</item>
		<item label="Avahi SSH Server Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/bssh</command></action>
		</item>
		<item label="Avahi VNC Server Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/bvnc</command></action>
		</item>
		<item label="BlueBubbles" icon="bluebubbles">
			<action name="Execute"><command>bluebubbles</command></action>
		</item>
		<item label="Brave" icon="brave-desktop">
			<action name="Execute"><command>brave</command></action>
		</item>
		<item label="Chromium" icon="chromium">
			<action name="Execute"><command>/usr/bin/chromium</command></action>
		</item>
		<item label="Firefox Web Browser" icon="firefox">
			<action name="Execute"><command>/usr/lib/firefox/firefox</command></action>
		</item>
		<item label="Popcorn Time" icon="popcorntime">
			<action name="Execute"><command>popcorntime</command></action>
		</item>
		<item label="qBittorrent" icon="qbittorrent">
			<action name="Execute"><command>qbittorrent</command></action>
		</item>
		<item label="Remmina" icon="org.remmina.Remmina">
			<action name="Execute"><command>remmina-file-wrapper</command></action>
		</item>
		<item label="Signal" icon="signal-desktop">
			<action name="Execute"><command>signal-desktop --</command></action>
		</item>
		<item label="Steam (Runtime)" icon="steam">
			<action name="Execute"><command>/usr/bin/steam-runtime</command></action>
		</item>
		<item label="Telegram Desktop" icon="telegram">
			<action name="Execute"><command>telegram-desktop --</command></action>
		</item>
		<item label="Thunderbird" icon="org.mozilla.Thunderbird">
			<action name="Execute"><command>thunderbird</command></action>
		</item>
		<item label="X11VNC Server" icon="computer">
			<action name="Execute"><command>x11vnc -gui tray=setpass -rfbport PROMPT -bg -o %HOME/.x11vnc.log.%VNCDISPLAY</command></action>
		</item>
		<item label="Zoom" icon="Zoom">
			<action name="Execute"><command>/usr/bin/zoom</command></action>
		</item>
	</menu> <!-- Internet -->
	<menu id="Multimedia" label="Multimedia">
		<item label="Audio Recorder" icon="audio-recorder">
			<action name="Execute"><command>audio-recorder</command></action>
		</item>
		<item label="mpv Media Player" icon="mpv">
			<action name="Execute"><command>mpv --player-operation-mode=pseudo-gui --</command></action>
		</item>
		<item label="Plex" icon="plex">
			<action name="Execute"><command>plex-desktop</command></action>
		</item>
		<item label="Popcorn Time" icon="popcorntime">
			<action name="Execute"><command>popcorntime</command></action>
		</item>
		<item label="PulseAudio Volume Control" icon="multimedia-volume-control">
			<action name="Execute"><command>pavucontrol</command></action>
		</item>
		<item label="Qt V4L2 test Utility" icon="qv4l2">
			<action name="Execute"><command>qv4l2</command></action>
		</item>
		<item label="Qt V4L2 video capture utility" icon="qvidcap">
			<action name="Execute"><command>qvidcap</command></action>
		</item>
		<item label="Spotify (Launcher)" icon="spotify-launcher">
			<action name="Execute"><command>spotify-launcher</command></action>
		</item>
		<item label="VLC media player" icon="vlc">
			<action name="Execute"><command>/usr/bin/vlc --started-from-file</command></action>
		</item>
		<item label="Volctl" icon="multimedia-volume-control">
			<action name="Execute"><command>volctl</command></action>
		</item>
	</menu> <!-- Multimedia -->
	<menu id="Office" label="Office">
		<item label="CoolReader3" icon="cr3">
			<action name="Execute"><command>cr3</command></action>
		</item>
		<item label="Document Viewer" icon="org.gnome.Evince">
			<action name="Execute"><command>evince</command></action>
		</item>
		<item label="LibreOffice" icon="libreoffice-startcenter">
			<action name="Execute"><command>libreoffice</command></action>
		</item>
		<item label="LibreOffice Base" icon="libreoffice-base">
			<action name="Execute"><command>libreoffice --base</command></action>
		</item>
		<item label="LibreOffice Calc" icon="libreoffice-calc">
			<action name="Execute"><command>libreoffice --calc</command></action>
		</item>
		<item label="LibreOffice Draw" icon="libreoffice-draw">
			<action name="Execute"><command>libreoffice --draw</command></action>
		</item>
		<item label="LibreOffice Impress" icon="libreoffice-impress">
			<action name="Execute"><command>libreoffice --impress</command></action>
		</item>
		<item label="LibreOffice Math" icon="libreoffice-math">
			<action name="Execute"><command>libreoffice --math</command></action>
		</item>
		<item label="LibreOffice Writer" icon="libreoffice-writer">
			<action name="Execute"><command>libreoffice --writer</command></action>
		</item>
		<item label="qpdfview" icon="qpdfview">
			<action name="Execute"><command>qpdfview --unique</command></action>
		</item>
	</menu> <!-- Office -->
	<menu id="Settings" label="Settings">
		<item label="Advanced Network Configuration" icon="preferences-system-network">
			<action name="Execute"><command>nm-connection-editor</command></action>
		</item>
		<item label="Customize Look and Feel" icon="preferences-desktop-theme">
			<action name="Execute"><command>lxappearance</command></action>
		</item>
		<item label="Displays" icon="network.cycles.wdisplays">
			<action name="Execute"><command>wdisplays</command></action>
		</item>
		<item label="Kvantum Manager" icon="kvantum">
			<action name="Execute"><command>kvantummanager</command></action>
		</item>
		<item label="Labwc Config" icon="labwc-tweaks">
			<action name="Execute"><command>labwc-tweaks</command></action>
		</item>
		<item label="Main Menu" icon="alacarte">
			<action name="Execute"><command>alacarte</command></action>
		</item>
		<item label="Openbox Configuration Manager" icon="obconf">
			<action name="Execute"><command>obconf</command></action>
		</item>
		<item label="PulseAudio Preferences" icon="preferences-desktop">
			<action name="Execute"><command>paprefs</command></action>
		</item>
		<item label="PulseAudio Volume Control" icon="multimedia-volume-control">
			<action name="Execute"><command>pavucontrol</command></action>
		</item>
		<item label="Qt5 Settings" icon="preferences-desktop-theme">
			<action name="Execute"><command>qt5ct</command></action>
		</item>
		<item label="Qt6 Settings" icon="preferences-desktop-theme">
			<action name="Execute"><command>qt6ct</command></action>
		</item>
		<item label="Remmina" icon="org.remmina.Remmina">
			<action name="Execute"><command>remmina-file-wrapper</command></action>
		</item>
		<item label="Tint2 Settings" icon="tint2conf">
			<action name="Execute"><command>tint2conf</command></action>
		</item>
	</menu> <!-- Settings -->
	<menu id="System" label="System">
		<item label="AMDGPU TOP (GUI)" icon="(null)">
			<action name="Execute"><command>amdgpu_top --gui</command></action>
		</item>
		<item label="Applications (bauh)" icon="bauh">
			<action name="Execute"><command>/usr/bin/bauh</command></action>
		</item>
		<item label="Applications (bauh-tray)" icon="bauh">
			<action name="Execute"><command>/usr/bin/bauh-tray</command></action>
		</item>
		<item label="Avahi Zeroconf Browser" icon="network-wired">
			<action name="Execute"><command>/usr/bin/avahi-discover</command></action>
		</item>
		<item label="btop++" icon="btop">
			<action name="Execute"><command>btop</command></action>
		</item>
		<item label="Bulk Rename" icon="org.xfce.thunar">
			<action name="Execute"><command>thunar --bulk-rename</command></action>
		</item>
		<item label="dconf Editor" icon="ca.desrt.dconf-editor">
			<action name="Execute"><command>dconf-editor</command></action>
		</item>
		<item label="GParted" icon="gparted">
			<action name="Execute"><command>/usr/bin/gparted</command></action>
		</item>
		<item label="Hardware Locality lstopo" icon="hwloc">
			<action name="Execute"><command>lstopo</command></action>
		</item>
		<item label="kitty" icon="kitty">
			<action name="Execute"><command>kitty</command></action>
		</item>
		<item label="Labwc Config" icon="labwc-tweaks">
			<action name="Execute"><command>labwc-tweaks</command></action>
		</item>
		<item label="LSHW" icon="/usr/share/lshw/artwork/logo.svg">
			<action name="Execute"><command>/usr/sbin/gtk-lshw</command></action>
		</item>
		<item label="nvtop" icon="nvtop">
			<action name="Execute"><command>nvtop</command></action>
		</item>
		<item label="Parental Controls" icon="org.freedesktop.MalcontentControl">
			<action name="Execute"><command>malcontent-control</command></action>
		</item>
		<item label="Task Manager" icon="utilities-system-monitor">
			<action name="Execute"><command>lxtask</command></action>
		</item>
		<item label="Tint2" icon="tint2">
			<action name="Execute"><command>tint2</command></action>
		</item>
		<item label="Virtual Machine Manager" icon="virt-manager">
			<action name="Execute"><command>virt-manager</command></action>
		</item>
	</menu> <!-- System -->
	<menu id="Other" label="Other">
		<item label="OpenTabletDriver" icon="otd">
			<action name="Execute"><command>/usr/bin/otd-gui</command></action>
		</item>
		<item label="Rofi" icon="rofi">
			<action name="Execute"><command>rofi -show</command></action>
		</item>
		<item label="Rofi Theme Selector" icon="rofi">
			<action name="Execute"><command>rofi-theme-selector</command></action>
		</item>
		<item label="Waydroid" icon="waydroid">
			<action name="Execute"><command>waydroid first-launch</command></action>
		</item>
	</menu> <!-- Other -->
</menu> <!-- root-menu -->
</openbox_menu>
